<div class="misc-data-container" *ngIf="miscData">
  <label>Other Data</label>
  <div class="misc-data-body">
    <div class="misc-data-item" *ngFor="let item of miscData | keys">
      <p class="misc-data-product-title">{{ item.key }}</p>
      <p>- {{ item.key }}: {{ item.value.plan }}</p>
      <p>- {{ item.key }}: {{ item.value.plan_id }}</p>
      <div class="misc-data-item" *ngFor="let item of value | keys">
        <p>- {{ item.key }}: {{ item.value }}</p>
      </div>
    </div>
  </div>
</div>