<div class="checkout-container">  
  <h1>Secure Checkout</h1>
  <p class="authentication-text">You are completing checkout as a guest.</p>
  <div class="checkout-body" *ngIf="singleOrderCart?.items.length > 0">
    <payment-method
      (creditCardSaved)="creditCardSaved($event)"
    ></payment-method>
    <single-payment-order
      *ngIf="singleOrderCart?.items.length > 0"
      [creditCard]="creditCard"
      [singleOrderCart]="singleOrderCart"
    ></single-payment-order>
  </div>
  <div class="empty-cart" *ngIf="singleOrderCart?.items.length === 0">
    <p>You have no items in your cart.</p>
    <a href="/">Continue Shopping</a>
  </div>
  <div class="field checkout-buttons">
    <button type="button" (click)="backToCart()" class="button back-to-cart-button">Back to Cart</button>
    <p *ngIf="orderFailed" class="checkout-error">There was an error processing your order.</p>
    <button class="button place-order-button" type="button" (click)="placeOrder()" [disabled]="!creditCard || (singleOrderCart?.items.length > 0 && !singlePaymentAddress) || processing">Place Order</button>
    <div *ngIf="processing" class="loader"></div>
  </div>
</div>