<div *ngIf="!loading" class="checkout-container">  
  <h1>Secure Checkout</h1>
  <p class="authentication-text" *ngIf="user?.scope === 'user'">You are securely logged in as {{ user?.email }}</p>
  <p class="authentication-text admin" *ngIf="user?.scope !== 'user'">You are securely logged in as administrator {{ user?.email }}</p>
  <p class="authentication-text" *ngIf="user?.scope !== 'user' && account">You are completing checkout as {{ account?.user.email }}</p>
  <div class="select-customer-button" *ngIf="user?.scope !== 'user' && account">
    <div class="field">
      <div class="control">
        <button class="button" (click)="clearCustomerInfo()">Select Different Customer</button>
      </div>
    </div>
  </div>
  <div class="checkout-body" *ngIf="(singleOrderCart?.items.length > 0 || subscriptionCart?.items.length > 0) && account">
    <payment-method
      [user]="user"
      [account]="account"
      (creditCardSaved)="creditCardSaved($event)"
    ></payment-method>
    <single-payment-order
      *ngIf="singleOrderCart?.items.length > 0"
      [user]="user"
      [account]="account"
      [creditCard]="creditCard"
      [singleOrderCart]="singleOrderCart"
    ></single-payment-order>
    <subscription-order
      *ngIf="subscriptionCart?.items.length > 0"
      [user]="user"
      [account]="account"
      [creditCard]="creditCard"
      [subscriptionCart]="subscriptionCart"
    ></subscription-order>
  </div>
  <select-customer-account *ngIf="user?.scope !== 'user' && !account"></select-customer-account>
  <div class="empty-cart" *ngIf="singleOrderCart?.items.length === 0 && subscriptionCart?.items.length === 0">
    <p>You have no items in your cart.</p>
    <a href="/">Continue Shopping</a>
  </div>
  <div class="field checkout-buttons" *ngIf="account">
    <div class="control">
      <button type="button" (click)="backToCart()" class="button back-to-cart-button">Back to Cart</a>
    </div>
    <p *ngIf="orderFailed" class="checkout-error">There was an error processing your order.</p>
    <p *ngIf="activeSubscriptions.length >= 25" class="checkout-error">Subscriptions can't be added to this account. An account may only have 25 subscriptions.</p>
    <div class="control">
      <button class="button place-order-button" type="button" (click)="placeOrder()" [disabled]="!creditCard || (subscriptionCart?.items.length > 0 && subscriptionAddresses.length === 0) || (singleOrderCart?.items.length > 0 && !singlePaymentAddress) || processing || activeSubscriptions.length >= 25">Place Order</button>
    </div>
  </div>
</div>
<!-- <div *ngIf="loading" class="loader">loading</div> -->