<div class="receipt-container">  
  <div class="receipt-body">
    <single-payment-order
      *ngIf="receipt.single_payment"
      [receipt]="receipt"
      [single_payment]="receipt.single_payment"
    ></single-payment-order>
    <single-payment-order
    *ngIf="receipt.single_payment_has_shipments"
    [receipt]="receipt"
    [single_payment]="receipt.single_payment_has_shipments"
  ></single-payment-order>
    <subscription-order
      *ngIf="receipt.subscriptions && receipt.subscriptions.items.length > 0"
      [receipt]="receipt"
    ></subscription-order>
  </div>
  <p *ngIf="failedOrders.length > 0">{{ failedOrders.length }} orders failed to process.</p>
</div>
