<div>
  <h4>Items</h4>
  <div class="cart-item" *ngFor="let item of cart.items">
    <div>
      <div>
        <h4 class="product-title cart-label">{{ item.product_title }}</h4>
        <p class="cart-item-quantity">{{ item.quantity }}</p>
        <p class="cart-item-price" *ngIf="!receipt">{{ item.price.usd/100 | currency: "USD" }}</p>
        <p class="cart-item-price" *ngIf="receipt">{{ item.product_variations[0].price.usd/100 | currency: "USD" }}</p>
        <p class="cart-item-variations" *ngIf="!receipt">{{ item.product_variation_title }}</p>
        <p class="cart-item-variations" *ngIf="receipt">{{ item.product_variations[0].product_variation_title }}</p>
      </div>
    </div>
  </div>
  <div class="cart-prices">
    <div class="cart-subtotal">
      <h4 class="subtotal cart-label">Subtotal</h4>
      <p class="subtotal">{{ subtotal | currency: "USD" }}</p>
    </div>
    <div class="cart-shipping">
      <h4 class="shipping cart-label">Shipping</h4>
      <p class="shipping" *ngIf="pending">{{ shipping }}</p>
      <p class="shipping" *ngIf="!pending">{{ shipping | currency: "USD" }}</p>
    </div>
    <div class="cart-tax">
      <h4 class="tax cart-label">Tax</h4>
      <p class="tax" *ngIf="pending">{{ tax }}</p>
      <p class="tax" *ngIf="!pending">{{ tax | currency: "USD" }}</p>
    </div>
    <div class="cart-handling">
      <h4 class="handling cart-label">Handling</h4>
      <p class="handling" *ngIf="pending">{{ handling }}</p>
      <p class="handling" *ngIf="!pending">{{ handling | currency: "USD" }}</p>
    </div>
  </div>
  <div class="cart-prices">
    <div class="cart-total">
      <h4 class="total cart-label">Total</h4>
      <p class="total" *ngIf="pending">{{ total }}</p>
      <p class="total" *ngIf="!pending">{{ total | currency: "USD" }}</p>
    </div>
  </div>
  <div class="cart-charge-details" *ngIf="!pending && !receipt">
    <p>{{ creditCard?.brand }} ending *{{creditCard?.last4 }} will be charged {{ total | currency: "USD" }}</p>
  </div>
</div>