<div class="payment-method-container">
  <h4>Payment Method</h4>
  <div>
    <div>
      <label for="card-element">Credit or Debit Card</label>
      <button *ngIf="defaultCard && !editDefualtCard" type="button" (click)="editDefualtCard = true">Change Card</button>
      <div>
        <div id="card-element"></div>
        <button type="button" (click)="createToken()">Add Card</button>
      </div>
      <div *ngIf="defaultCard && !editDefualtCard">
        <div>
          <p>{{ defaultCard?.brand }} ending *{{ defaultCard?.last4 }}</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p>See below for order total(s). Single-Payment Items are charged as a single order. Subscriptions are charged as separate orders.</p>
  </div>
</div>