<div class="payment-method-container">
  <div class="container-header">
    <h4>Payment Method</h4>
  </div>
  <div class="container-body">
    <div class="container-body-left">
      <label class="label" for="card-element">Credit or Debit Card</label>
      <p *ngIf="loadingPaymentMethod">Loading...</p>
      <p class="error-message" *ngIf="loadPaymentMethodError">Error getting Payment Method.</p>
      <button class="button inline-button" *ngIf="creditCard && !editCreditCard" type="button" (click)="editCreditCard = true">Change Card</button>
      <div class="payment-method-fields" [ngClass]="{'airship-hidden':(creditCard && !editCreditCard) || loadPaymentMethodError}">
        <div class="payment-method-new">
          <div [ngClass]="{'airship-visible': !loadingPaymentMethod}" id="card-element"></div>
          <p class="error-message" *ngIf="missingCardInfo">Please enter required Credit Card fields.</p>
          <div class="field update-card-buttons is-grouped">
            <div class="control">
              <button class="button cancel-button" *ngIf="editCreditCard" type="button" (click)="editCreditCard = !editCreditCard" [disabled]="processing">Cancel</button>
            </div>
            <div class="control">
              <button class="button add-button" type="button" (click)="createToken()" [disabled]="processing">{{ processing? "Adding Card..." : "Add Card" }}</button>
            </div>
          </div>
        </div>
      </div>
      <p class="error-message" *ngIf="addCardFailed">Failed to add card.</p>
      <div class="default-credit-card" *ngIf="creditCard && !editCreditCard">
        <p>{{ creditCard?.brand }} ending *{{ creditCard?.last4 }}</p>
      </div>
    </div>
  </div>
</div>