<div class="single-payment-order-container container">
  <div class="container-header">
    <h4>Select Customer Account</h4>
  </div>
  <div class="container-body">
    <div class="container-body-left">
      <form [formGroup]="form" class="select-customer-form">
        <select formControlName="account" class="select-customer-dropdown">
          <option>Select One</option>
          <option *ngFor="let account of accounts" [ngValue]="account">{{ account?.user.email }}</option>
        </select>
      </form>
    </div>
    <div class="container-body-right">
      <div>
        <p>Select the Customer you want to create a order for.</p>
      </div>
    </div>
  </div>
</div>

<button class="button" type="button" (click)="selectAccount(form.value.account)" [disabled]="form.status === 'INVALID'">Continue</button>