<div class="single-payment-order-container container">
  <div class="container-header">
    <h4>Select Customer Account</h4>
  </div>
  <div class="container-body">
    <div class="container-body-left">
      <form [formGroup]="form" class="select-customer-form">
        <div class="field">
          <div class="control">
            <select class="select" formControlName="account" class="select-customer-dropdown">
              <option>Select One</option>
              <option *ngFor="let account of accounts" [ngValue]="account">{{ account?.customer.email ? account?.customer.email : account?.airship_user.auth0_user.email }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="container-body-right">
      <div>
        <p>Select the Customer you want to create a order for.</p>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <button class="button continue-button" type="button" (click)="selectAccount(form.value.account)" [disabled]="form.status === 'INVALID'">Continue</button>
  </div>
</div>