<div class="single-payment-order-container container">
  <div class="container-header">
    <h4>Single-Payment Order</h4>
  </div>
  <div class="clearfix">
    <div class="left">
      <shipping-address [user]="user" (savedShippingAddress)="gotSavedShippingAddress($event)"></shipping-address>
      <div>
        <label>Shipping Type</label>
        <shipping-type (shippingTypeChanged)="shippingTypeChanged($event)"></shipping-type>
      </div>
      <div>
        <label>Billing</label>
        <p *ngIf="shippingCalculationPending">Pending...</p>
        <p *ngIf="!shippingCalculationPending">{{ defaultCard?.brand }} ending *{{ defaultCard?.last4 }} will be charge {{ orderTotal | currency: 'USD'}}</p>
      </div>
      <div>
        <label>Order Notes</label>
        <order-notes (savedOrderNotes)="gotOrderNotes($event)"></order-notes>
      </div>
    </div>
    <div class="right">
      <app-cart
        (cartHasItems)="cartHasItems.emit($event)"
        (shippingCalculated)="shippingCalculated($event)"
        [shippingAddress]="shippingAddress"
        [shippingType]="shippingType"
        [defaultCard]="defaultCard"
      ></app-cart>
    </div>
  </div>
</div>