<div class="single-payment-order-container container">
  <div class="container-header">
    <h4>Single-Payment Order</h4>
  </div>
  <div class="container-body">
    <div class="container-body-left">
      <shipping-address *ngIf="!skipShipping" [user]="user" [account]="account" [orderDetails]="orderDetails" [singlePaymentOrder]="true"></shipping-address>
      <div *ngIf="!skipShipping">
        <label>Shipping Type</label>
        <shipping-type [orderDetails]="orderDetails"></shipping-type>
      </div>
      <div *ngIf="orderDetails">
        <label>Order Number</label>
        <p>#{{ orderDetails?.single_payment.order_number }}</p>
      </div>
      <div *ngIf="orderDetails">
        <label>Order Date</label>
        <p *ngIf="orderDetails">{{ orderDetails?.single_payment.created_at | date: 'MM/dd/yyyy' }}</p>
      </div>
      <div *ngIf="orderDetails">
        <label>Customer ID</label>
        <p>{{ orderDetails?.customer.email }}</p>
        <p>{{ orderDetails?.customer.stripe_customer_id }}</p>
      </div>
      <div>
        <label>Billing</label>
        <p *ngIf="shippingCalculationPending && !orderDetails">Pending...</p>
        <p *ngIf="!shippingCalculationPending && !orderDetails">{{ creditCard?.brand }} ending *{{ creditCard?.last4 }} will be charge {{ orderTotal | currency: 'USD'}}</p>
        <p *ngIf="orderDetails">{{ orderDetails?.single_payment.payment.stripe_card_raw_json_data.brand }} ending *{{ orderDetails?.single_payment.payment.stripe_card_raw_json_data.last4 }} was charged {{ orderTotal | currency: 'USD'}} on {{ orderDetails?.single_payment.created_at | date: 'MM/dd/yyyy' }}</p>
      </div>
      <div>
        <label>Order Notes</label>
        <order-notes [orderDetails]="orderDetails" [singlePaymentOrder]="true"></order-notes>
      </div>
    </div>
    <div class="container-body-right">
      <app-cart
        (shippingCalculated)="shippingCalculated($event)"
        [creditCard]="creditCard"
        [orderDetails]="orderDetails"
      ></app-cart>
    </div>
  </div>
</div>