/* You can add global styles to this file, and also import other style files */
@import './app/scss/variables';

.container{
  border: 1px solid $border-color;
  margin: 20px;
}

.container-header{
  background-color: #DBDBDB;
  color: #4D4D4D;

  h4{
    margin: 0;
  }
}

.container-body{
  display: flex;
  flex-flow: row wrap;
  // clear: ---
}

.container-body-left{
  flex: 1 0 70%;
  // width: ---
  // for small media query it is flex: 0 0 100%
}
.container-body-left{
  flex: 0 0 30%;
  // width: ---
  // for small media query it is flex: 0 0 100%
}

.hidden{
  display: none;
}