<div>
  <label>Shipping Address</label>
  <form [(ngModel)]="shipping_address" name="shipping_address">
    <div class="inline-field">
      <label>First Name*</label>
      <input type="text" name="first_name" [(ngModel)]="shipping_address.first_name">
    </div>
    <div class="inline-field">
      <label>Last Name*</label>
      <input type="text" name="last_name" [(ngModel)]="shipping_address.last_name">
    </div>
    <div>
      <label>Country*</label>
      <select [(ngModel)]="shipping_address.country" name="country">
        <option>Select One</option>
      </select>
    </div>
    <div>
      <label>Shipping Address 1*</label>
      <input type="text" name="address_1" [(ngModel)]="shipping_address.address_1">
    </div>
    <div>
      <label>Shipping Address 2</label>
      <input type="text" name="address_2" [(ngModel)]="shipping_address.address_2">
    </div>
    <div>
      <label>City*</label>
      <input type="text" name="city" [(ngModel)]="shipping_address.city">
    </div>
    <div>
      <label>State/Province/Region/Other*</label>
      <input type="text" name="state" [(ngModel)]="shipping_address.state">
    </div>
    <div>
      <label>Zip/Postal Code*</label>
      <input type="text" name="zipcode" [(ngModel)]="shipping_address.zipcode">
    </div>
    <div>
      <label>Phone</label>
      <input type="text" name="phone" [(ngModel)]="shipping_address.phone">
    </div>
  </form>
  <button type="button" (click)="saveAddress()">Save Address</button>
</div>